h1 {
    color: red;
    font-size: 32px;
    font-weight: normal
}

h1.dick {
    color: rgb(171, 171, 35)
}

.wao {
    color: pink
h1{color:red;font-size:39px;font-weight:normal}

h1.dick {
    color: rgb(171, 171, 35)
}

.wao {
    color: pink
}